.header {
    font-family: 'Bangers', cursive;
    font-size: 60px;
} 

.card-header {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.btn {
    font-family: 'Bangers', cursive;
    font-size: 15px;

}

.form-control {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.list-header {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.list-group-item {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.challenge-list:hover , .challenge-list.active {
    background: #dc3545;
    color: ghostwhite;
    box-shadow: none;
 }

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 30px;

 }

 