body {
    background-image: url("https://www.profit2.com/wp-content/uploads/2018/08/Grey-Gradient-Background.jpg");
}

.header {
    font-family: 'Bangers', cursive;
    font-size: 60px;
    text-shadow:
		-1px -1px 0 rgb(253, 252, 252),
		1px -1px 0 rgb(253, 252, 252),
		-1px 1px 0 rgb(253, 252, 252),
		1px 1px 0 rgb(253, 252, 252);
} 


.card-img-top {
    
    width: 100%;
    height: 20vw;
    
   
}

.nav-link {
    font-family: 'Open Sans', sans-serif !important;
    font-style: italic;
}



/* .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .card-img-top.active .image {
    opacity: 0.3;
  }
  
  .card-img-top.active .middle {
    opacity: 1;
  }  */

.active {
    color: whitesmoke !important;
    background-color: #dc3545 !important;
}

.challenger-card-body {
    width: 100%;
    height: 3vw;
}



.compat-body {
    width: 100%;
    height: 9vw;

}

.card-title {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.compat-card-title {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

p {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.card-header {
    font-family: 'Bangers', cursive;
    font-size: 25px;
    text-shadow:
		-1px -1px 0 rgb(253, 252, 252),
		1px -1px 0 rgb(253, 252, 252),
		-1px 1px 0 rgb(253, 252, 252),
		1px 1px 0 rgb(253, 252, 252);
}

.btn {
    font-family: 'Bangers', cursive;
    font-size: 15px;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.form-control {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.list-header {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.list-group-item {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.challenge-list:hover {
    box-shadow: #dc3545 !important;
    outline: #dc3545 !important;
} 

.footer {
    bottom: 0;
    width: 100%;
    position: fixed;
    height: 30px;

}



.modal-title,.modal-body,.modal-footer,.modal-header,.m-content{
    background-color: white;
    
}
