.header {
    font-family: 'Bangers', cursive;
    font-size: 60px;
} 

.card-header , .card-title {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

.btn {
    font-family: 'Bangers', cursive;
    font-size: 15px;

}

.form-control {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.list-header {
    font-family: 'Bangers', cursive;
    font-size: 30px;
}

.list-group-item {
    font-family: 'Bangers', cursive;
    font-size: 15px;
}

.list-group-item:hover, .list-group-item.active .list-group-item.onclick{
    background: #dc3545;
    color: ghostwhite;
    box-shadow: #dc3545;
 }

 

  